<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IConfigurationService" transferMode="Streamed">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9002/HydraService/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IConfigurationService"
                contract="IConfigurationService" name="NetTcpBinding_IConfigurationService" />
        </client>
    </system.serviceModel>
</configuration>