<div class="container-fluid">
    <ul class="list-group domain-list">
        <li class="list-group-item active">
            Domains
            <span class="pull-right">
                <button class="btn btn-xs btn-success" ng-click="addDomainDialog()">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                </button>
            </span>
        </li>
        <li ng-repeat="domain in domains" class="list-group-item">
            {{domain.DomainName}}
            <span class="pull-right">
                <button class="btn btn-xs btn-danger" ng-really-message="Do you really want to delete the domain?&lt;br /&gt;All mailboxes of that domain will be deleted as well!"
                        ng-really-click="deleteDomain(domain.Id)" ng-really-ok-class="btn-danger" ng-really-ok-text="Delete" ng-really-cancel-class="btn-default">
                    <span class="glyphicon glyphicon-remove-sign"></span>
                </button>
            </span>
        </li>
    </ul>
    <div ui-grid="gridOptions" ui-grid-edit ui-grid-row-edit ui-grid-selection ui-grid-auto-resize ui-grid-pagination>

    </div>
        <div class="btn-group pull-right" style="margin-top: 10px;">
            <a class="btn btn-default" target="_self" href="/api/ExternalUsers/Export">
                <i class="glyphicon glyphicon-download"></i> Export
            </a>
            <label class="btn btn-default" for="importfile">
                <i class="glyphicon glyphicon-upload"></i> Import
            </label>
            <input id="importfile" type="file" ngf-select ngf-change="import($files)" ngf-accept="'text/csv'" style="position: absolute; clip: rect(0px 0px 0px 0px)" />
            <button class="btn btn-success" ng-click="addDialog()">
                <i class="glyphicon glyphicon-plus-sign"></i> Add
            </button>
            <button class="btn btn-danger" ng-click="deleteSelected()">
                <i class="glyphicon glyphicon-remove-sign"></i> Remove
            </button>
        </div>
</div>