<div class="container-fluid">
    <div class="panel" ng-class="{'panel-info': connector.Id === defaultId, 'panel-default': connector.Id !== defaultId}" ng-repeat="connector in connectors">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapse{{connector.Id}}" class="collapsed">
                    {{connector.Name}}&nbsp;
                    <span class="glyphicon glyphicon-exclamation-sign" ng-show="connectorForms['form' + connector.Id].$dirty"
                          tooltip="This send connector has unsaved changes" tooltip-placement="top" tooltip-append-to-body="true"></span>
                </a>
            </h4>
        </div>
        <div id="collapse{{connector.Id}}" class="panel-collapse collapse">
            <div class="panel-body">
                <form id="connectorForm{{connector.Id}}" class="form-horizontal" name="connectorForms.form{{connector.Id}}" ng-submit="connectorForms['form' + connector.Id].$valid && (connector.__adding__? add(connector, $event) : update(connector, $event))" confirm-on-exit="There are unsaved changes in a send connector, are you sure you want to leave the page?">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="connector.Name" placeholder="Name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Local IP</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="connector.LocalAddressString" placeholder="IP Address"
                                   ng-pattern="IPRegexp">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Smarthost</label>
                        <div class="col-sm-8">
                            <input type="radio" ng-model="connector.UseSmarthost" ng-value="true" name="form{{connector.Id}}.smarthost" /> Use Smarthost
                            <input type="radio" ng-model="connector.UseSmarthost" ng-value="false" name="form{{connector.Id}}.smarthost" /> Use MX Record
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Remote IP</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="connector.RemoteAddressString" placeholder="IP Address"
                                   ng-pattern="IPRegexp" ng-disabled="!connector.UseSmarthost" ng-required="connector.UseSmarthost">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Remote Port</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" ng-model="connector.RemotePort" placeholder="Port" ng-disabled="!connector.UseSmarthost" ng-required="connector.UseSmarthost">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Retry Count</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" ng-model="connector.RetryCount" placeholder="Retry Count" min="0" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Retry Time</label>
                        <div class="col-sm-2">
                            <div class="input-group">
                                <input type="text" timespan-validator="timespanGreaterThanZero" class="form-control" data-momentduration="hours" data-ng-model="connector.RetryTimeDuration" />
                                <span class="input-group-addon">h</span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group">
                                <input type="text" timespan-validator="timespanGreaterThanZero" class="form-control" data-momentduration="minutes" data-ng-model="connector.RetryTimeDuration" />
                                <span class="input-group-addon">m</span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group">
                                <input type="text" timespan-validator="timespanGreaterThanZero" class="form-control" data-momentduration="seconds" data-ng-model="connector.RetryTimeDuration" />
                                <span class="input-group-addon">s</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Auth</label>
                        <div class="col-sm-8">
                            <input type="checkbox" ng-model="connector.UseAuth" /> Use Authentification
                        </div>
                    </div>
                    <div class="form-group" ng-show="connector.UseAuth">
                        <label class="col-sm-4 control-label">Username</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="connector.Username" placeholder="Username" ng-required="connector.UseAuth">
                        </div>
                    </div>
                    <div class="form-group" ng-show="connector.UseAuth">
                        <label class="col-sm-4 control-label">Password</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="connector.Password" placeholder="Password" ng-required="connector.UseAuth">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Domains</label>
                        <div class="col-sm-8">

                            <div class="list-group domain-list pull-left" ng-show="connector.Domains.length > 0">
                                <span ng-repeat="domain in connector.Domains" class="tag label label-default">
                                    <span>{{domain}}</span>
                                    <a ng-click="removeDomain(connector, domain)" tooltip="Remove the domain from the send connector" tooltip-placement="bottom" tooltip-append-to-body="true"><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a>
                                </span>
                            </div>
                            <p class="form-control-static pull-left" ng-show="connector.Domains.length == 0">None</p>
                            <button class="btn btn-sm btn-success pull-right" type="button" ng-click="addDomain(connector)" tooltip="Add a domain to the send connector" tooltip-placement="bottom" tooltip-append-to-body="true">
                                <i class="glyphicon glyphicon-plus-sign"></i> Add
                            </button>
                        </div>
                    </div>
                    <div class="panel" ng-class="{'panel-success': connector.TLSSettings.Mode > 0, 'panel-default': connector.TLSSettings.Mode == 0}">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-target="#collapse-tls{{connector.Id}}" class="collapsed">TLS</a>
                            </h4>
                        </div>
                        <div id="collapse-tls{{connector.Id}}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Mode</label>
                                    <div class="col-sm-8">
                                        <select ng-model="connector.TLSSettings.Mode" ng-options="idx*1 as mode for (idx, mode) in modes" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Encryption Policy</label>
                                    <div class="col-sm-8">
                                        <select ng-model="connector.TLSSettings.EncryptionPolicy" ng-options="idx*1 as policy for (idx, policy) in policies" class=" form-control"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Auth Level</label>
                                    <div class="col-sm-8">
                                        <select ng-model="connector.TLSSettings.AuthLevel" ng-options="idx*1 as level for (idx, level) in authLevels" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Validate Certificate Revocation</label>
                                    <div class="col-sm-8">
                                        <input type="radio" ng-value="true" ng-model="connector.TLSSettings.ValidateCertificateRevocation" /> Yes
                                        <input type="radio" ng-value="false" ng-model="connector.TLSSettings.ValidateCertificateRevocation" /> No
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Certificate Source</label>
                                    <div class="col-sm-8">
                                        <input type="radio" class="" ng-model="connector.TLSSettings.CertificateType" value="store"> Store
                                        <input type="radio" class="" ng-model="connector.TLSSettings.CertificateType" value="file"> File System
                                    </div>
                                </div>
                                <div class="form-group" ng-show="connector.TLSSettings.CertificateType == 'store'">
                                    <label class="col-sm-4 control-label">Certificate Name</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" ng-model="connector.TLSSettings.CertificateName" ng-options="cert for cert in storeCertificates">
                                            <option value="">-- None --</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" ng-show="connector.TLSSettings.CertificateType == 'file'">
                                    <label class="col-sm-4 control-label">Certificate File</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" ng-model="connector.TLSSettings.CertificateName" ng-options="cert for cert in fileCertificates">
                                            <option value="">-- None --</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" ng-show="connector.TLSSettings.CertificateType == 'file'">
                                    <label class="col-sm-4 control-label">Certificate Password</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="connector.TLSSettings.CertificatePassword" placeholder="Certificate Password" ng-disabled="connector.TLSSettings.CertificateName == null">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">SSL Protocols</label>
                                    <div class="col-sm-8">
                                        <input type="checkbox" ng-enum-flag="12" ng-enum-model="connector.TLSSettings.SslProtocols" /> SSL 2 &nbsp;
                                        <input type="checkbox" ng-enum-flag="48" ng-enum-model="connector.TLSSettings.SslProtocols" /> SSL 3 &nbsp;
                                        <input type="checkbox" ng-enum-flag="192" ng-enum-model="connector.TLSSettings.SslProtocols" /> TLS &nbsp;
                                        <input type="checkbox" ng-enum-flag="768" ng-enum-model="connector.TLSSettings.SslProtocols" /> TLS 1.1 &nbsp;
                                        <input type="checkbox" ng-enum-flag="3072" ng-enum-model="connector.TLSSettings.SslProtocols" /> TLS 1.2
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-info exclusive-action" ng-click="makeDefault(connector, $event)" ng-hide="connector.Id === defaultId || connector.__adding__">
                                    <i class="glyphicon glyphicon-default"></i> Make Default
                                </button>
                                <button type="submit" class="btn btn-success update-button exclusive-action" ng-hide="connector.__adding__">
                                    <i class="glyphicon glyphicon-floppy-disk"></i> Update
                                </button>
                                <button type="button" class="btn btn-danger exclusive-action" ng-click="delete(connector, $event)" ng-hide="connector.Id === defaultId || connector.__adding__">
                                    <i class="glyphicon glyphicon-remove-sign"></i> Remove
                                </button>
                                <button type="submit" class="btn btn-success add-button exclusive-action" ng-show="connector.__adding__">
                                    <i class="glyphicon glyphicon-floppy-disk"></i> Add
                                </button>
                                <button type="button" class="btn btn-danger exclusive-action" ng-click="cancelAdd(connector)" ng-show="connector.__adding__">
                                    <i class="glyphicon glyphicon-remove-sign"></i> Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="btn-group pull-right" style="margin-top: 10px;">
            <button type="button" class="btn btn-success" ng-click="startAdd()" ng-disabled="adding">
                <i class="glyphicon glyphicon-plus-sign"></i> Add
            </button>
        </div>
    </div>
</div>