<div class="modal-header">
    <h4 class="modal-title"><span class="glyphicon glyphicon-upload"></span> <span ng-hide="importDone">Importing...</span><span ng-show="importDone">Import done!</span></h4>
</div>

<div class="modal-body clearfix">
    <div ng-hide="importDone">
        <p><span class="glyphicon glyphicon-refresh glyphicon-spin"></span> Importing users...</p>
    </div>

    <div ng-show="importDone" style="max-height: 400px; overflow: auto;">
        <p>{{importedUsers}} new users were imported.</p>
        <p ng-show="overwrittenUsers > 0">{{overwrittenUsers}} previously existing users were deleted.</p>
    </div>

    <button class="btn btn-default pull-right" ng-show="importDone" ng-click="importDone && $close()" style="margin-top: 10px">Close</button>
</div>