<div class="container-fluid">
    <form role="form" class="form-horizontal clearfix" name="serverConfigForm" ng-submit="serverConfigForm.$valid && submit()">
        <div class="form-group">
            <label class="control-label col-sm-4">SMTP Server Status</label>
            <div class="col-sm-2">
                <p class="form-control-static">{{status}}</p>
            </div>
            <div class="col-sm-4">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-success" ng-click="start()" ng-disabled="running">
                        <i class="glyphicon glyphicon-play"></i> Start
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="stop()" ng-disabled="!running">
                        <i class="glyphicon glyphicon-stop"></i> Stop
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Service Version</label>
            <div class="col-sm-6">
                <p class="form-control-static">{{serviceVersion}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Service Build Date</label>
            <div class="col-sm-6">
                <p class="form-control-static">{{serviceBuildDate | date : 'medium' }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">UI Version</label>
            <div class="col-sm-6">
                <p class="form-control-static">{{uiVersion}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">UI Build Date</label>
            <div class="col-sm-6">
                <p class="form-control-static">{{uiBuildDate | date : 'medium' }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Local Email-Addresses</label>
            <div class="col-sm-4">
                <ul class="form-control-static list-group">
                    <li ng-repeat="group in localGroups | orderBy:'Name'" class="list-group-item">
                        <span class="badge" tooltip="This group has {{group.Count}} email addresses configured">{{group.Count}}</span>
                        {{group.Name}}
                    </li>
                    <li class="list-group-item">
                        <span class="badge" tooltip="There are {{localMailboxTotal}} local email addresses in total">{{localMailboxTotal}}</span>
                        Total
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">External Email-Addresses</label>
            <div class="col-sm-4">
                <ul class="form-control-static list-group">
                    <li ng-repeat="group in externalGroups | orderBy:'Name'" class="list-group-item">
                        <span class="badge" tooltip="This group has {{group.Count}} email addresses configured">{{group.Count}}</span>
                        {{group.Name}}
                    </li>
                    <li class="list-group-item">
                        <span class="badge" tooltip="There are {{externalMailboxTotal}} external email addresses in total">{{externalMailboxTotal}}</span>
                        Total
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Active Time Tables</label>
            <div class="col-sm-4">
                <ul ng-show="(at = (timeTables | filter:{Active:true})).length" class="form-control-static list-group">
                    <li ng-repeat="timeTable in at | orderBy:'Name'" class="list-group-item">
                        <span class="badge badge-success" tooltip="For this time table, {{timeTable.MailsSuccess || 'no'}} emails were sent successful">{{timeTable.MailsSuccess || 0}}</span>
                        <span class="badge badge-danger" tooltip="For this time table, {{timeTable.MailsError || 'no'}} emails resulted in an error">{{timeTable.MailsError || 0}}</span>
                        {{timeTable.Name}}
                    </li>
                </ul>
                <p class="form-control-static" ng-hide="at.length">No active time tables</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Inactive Time Tables</label>
            <div class="col-sm-4" ng-init="">
                <ul ng-show="(iat = (timeTables | filter:{Active:false})).length" class="form-control-static list-group">
                    <li ng-repeat="timeTable in iat | orderBy:'Name'" class="list-group-item disabled">
                        {{timeTable.Name}}
                    </li>
                </ul>
                <p class="form-control-static" ng-hide="iat.length">No inactive time tables</p>
            </div>
        </div>
    </form>
</div>