<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CertificateFolder" value="." />
    <add key="DataFolder" value="../../AppData" />
    <add key="UserTemplates" value="UserTemplates" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Prism.PubSubEvents" publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <services>
      <service name="HydraService.ConfigurationService"
               behaviorConfiguration="ConfigurationServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:13339/service"/>
          </baseAddresses>
        </host>
         <endpoint address=""
                  binding="netTcpBinding"
                  contract="HydraService.IConfigurationService" />
         <endpoint address="mex"
                  binding="mexTcpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding sendTimeout="00:01:00"
       maxReceivedMessageSize="2147483647"
       maxBufferSize="2147483647" transferMode="Streamed">
          <security mode="None" />
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
       maxArrayLength="2147483647" maxBytesPerRead="2147483647"
       maxNameTableCharCount="2147483647"/>
        </binding>
        <binding name="mexBinding" portSharingEnabled="true">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ConfigurationServiceBehavior">
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>