<!DOCTYPE html>
<html ng-app="Hydra" ng-controller="LandingPageController">
<head>
    <base href="/">
    <title>Hydra</title>
    @Styles.Render("~/Content/dist")
    @Styles.Render("~/Content/css")
</head>
<body style="max-width: 1000px;">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-left">
                <li><a class="navbar-brand" href="/">Hydra</a></li>
                <li><a href="/Server/">Server</a></li>
                <li><a href="/LocalUsers/">Local Users</a></li>
                <li><a href="/ExternalUsers/">External Users</a></li>
                <li><a href="/Send/">Send</a></li>
                <li><a href="/Receive/">Receive</a></li>
                <li><a href="/Mail/">Mail</a></li>
                <li><a href="/Timer/">Timer</a></li>
                <li><a href="/Logging/">Logging</a></li>
                <li><a href="/Attachments/">Attachments</a></li>
                <li><a href="/Certificates/">Certificates</a></li>
                <li><a href="/MailTemplates/">Mail Templates</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="auth.user"><a href="/logout/">Logout</a></li>
                <li ng-show="!auth.user"><a href="/login/">Login</a></li>
                <li ng-show="!auth.user"><a href="/register/">Register</a></li>
            </ul>
            <p class="navbar-text navbar-right" ng-show="auth.user">Signed in as {{auth.user}}</p>
        </div>
    </nav>

    <div ng-view></div>
</body>
@Scripts.Render("~/Scripts/dist")
@Scripts.Render("~/Scripts/Hydra")
</html>
