<form ng-submit="register()">
    <label for="emailAddress">Email Address:</label>
    <input id="emailAddress" type="email" ng-model="registerForm.emailAddress" required />

    <label for="password">Password:</label>
    <input id="password" type="password" ng-model="registerForm.password" required />

    <label for="confirmPassword">Confirm Password:</label>
    <input id="confirmPassword" type="password" ng-model="registerForm.confirmPassword" required />

    <button type="submit">Register</button>
</form>

<div ng-if="registerForm.registrationFailure">
    <ul ng-repeat="error in registerForm.errors">
        <li>{{error}}</li>
    </ul>
</div>