
<div class="container-fluid">
    <div ui-grid="gridOptions" ui-grid-edit ui-grid-row-edit ui-grid-selection ui-grid-auto-resize>

    </div>
    <div class="btn-group pull-right" style="margin-top: 10px;">
        <button class="btn btn-default">
            <i class="glyphicon glyphicon-download"></i> Export
        </button>
        <label class="btn btn-default" for="importfile">
            <i class="glyphicon glyphicon-upload"></i> Import
        </label>
        <input id="importfile" type="file" on-read-file="readFile($fileName, $fileContent)" style="position: absolute; clip: rect(0px 0px 0px 0px)" />
        <button class="btn btn-success" ng-click="addDialog()">
            <i class="glyphicon glyphicon-plus-sign"></i> Add
        </button>
        <button class="btn btn-danger" ng-click="deleteSelected()">
            <i class="glyphicon glyphicon-remove-sign"></i> Remove
        </button>
    </div>
</div>