
<div class="container-fluid">
    <div ui-grid="gridOptions" ui-grid-edit ui-grid-row-edit ui-grid-selection ui-grid-auto-resize ui-grid-pagination>

    </div>
    <div class="btn-group pull-right" style="margin-top: 10px;">
        <a class="btn btn-default" target="_self" href="/api/LocalUsers/Export">
            <i class="glyphicon glyphicon-download"></i> Export
        </a>
        <label class="btn btn-default" for="importfile">
            <i class="glyphicon glyphicon-upload"></i> Import
        </label>
        <input id="importfile" type="file" ngf-select ngf-change="import($files)" ngf-accept="'text/csv'" style="position: absolute; clip: rect(0px 0px 0px 0px)" />
        <div class="btn-group">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="glyphicon glyphicon-wrench"></i> Generate <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="template in templates"><a ng-href="#" ng-click="generate(template)">{{template.DisplayName}}</a></li>
            </ul>
        </div>
        <button class="btn btn-success" ng-click="addDialog()">
            <i class="glyphicon glyphicon-plus-sign"></i> Add
        </button>
        <button class="btn btn-danger" ng-click="deleteSelected()">
            <i class="glyphicon glyphicon-remove-sign"></i> Remove
        </button>
    </div>
</div>