input.ng-invalid.ng-dirty {
    border: 1px solid red;
}

input.ng-valid.ng-dirty {
    border: 1px solid green;
}

.ui-grid-render-container-body {
    float: none !important;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

.panel-heading a {
    text-decoration: none;
    cursor: pointer;
}

    .panel-heading a:after {
        font-family: 'Glyphicons Halflings';
        content: "\e114";
        float: right;
        color: grey;
    }

    .panel-heading a.collapsed:after {
        content: "\e080";
    }

/* adapted from http://maxwells.github.io/bootstrap-tags.html */
.tag {
    display: inline-block;
    font-size: 14px;
    padding: .3em .4em .4em;
    margin: 0.1em;
}

    .tag a {
        color: #bbb;
        cursor: pointer;
        opacity: 0.6;
    }

        .tag a:hover {
            opacity: 1.0;
        }

    .tag .remove {
        vertical-align: bottom;
        top: 0;
    }

    .tag a {
        margin: 0 0 0 .3em;
    }

        .tag a .glyphicon-white {
            color: #fff;
            margin-bottom: 2px;
        }

.domain-list .list-group-item {
    padding: 5px 8px;
}

.domain-list input[type=checkbox] {
    margin-right: 5px;
}

.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.badge-success {
    background-color: #5cb85c;
}

.badge-danger {
    background-color: #d9534f;
}

.list-group-item > .badge ~ .badge {
    margin-right: 5px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.top5 {
    margin-top: 5px;
}

.top7 {
    margin-top: 7px;
}

.top10 {
    margin-top: 10px;
}

.top15 {
    margin-top: 15px;
}

.top17 {
    margin-top: 17px;
}

.top30 {
    margin-top: 30px;
}

#usersGrid .ui-grid-column-menu-button-last-col {
    margin-right: 0px;
}

[role=columnheader].dirty {
    background: #333;
}

    [role=columnheader].dirty .ui-grid-header-cell-label {
        color: #FFF;
    }

.input-group .form-control.ui-select-toggle {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.input-group-addon-select-fix {
    line-height: 20px;
}

.timeSelector {
    width: 100%;
    table-layout: fixed;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .timeSelector .morning:before, .timeSelector .evening:before {
        content: '☾';
        display: block;
        text-align: center;
        width: 1.5em;
        color: darkblue;
    }

    .timeSelector .morning:before {
        margin-left: -0.75em;
    }

    .timeSelector .evening:before {
        margin-right: -0.75em;
        float: right;
    }

    .timeSelector .noon {
        color: orange;
        text-align: center;
    }

    .timeSelector .biginterval td {
        border: 1px solid black;
        border-top: 0;
        line-height: 5px;
        height: 8px;
    }

    .timeSelector .smallinterval td {
        border: 1px solid black;
        border-bottom: 0;
        line-height: 5px;
        height: 5px;
    }

    .timeSelector .dataRow th {
        border: 1px solid black;
        text-align: right;
        padding: 2px;
    }

    .timeSelector .dataRow td {
        border: 1px solid darkgray;
    }

    .timeSelector .selected {
        background-color: lightblue;
    }

    .timeSelector .toggeling {
        background-color: lightcoral;
    }

        .timeSelector .toggeling.selected {
            background-color: coral;
        }

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    text-align: right;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('dist/fontawesome-webfont.eot?v=4.5.0');
  src: url('dist/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('dist/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('dist/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('dist/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('dist/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

a.filelink:before,
.fileIcon:before {
    display: inline-block;
    font-family: FontAwesome;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
    padding-right: 5px;
    content: "\f016";
    color: #333;
}

a[href$=".pdf"].filelink:before,
.fa-file-pdf-o:before {
    content: "\f1c1";
    color: #F26353;
}

a[href$=".txt"].filelink:before,
.fa-file-text-o:before {
    content: "\f0f6";
    color: #808080;
}

a[href$=".doc"].filelink:before,
a[href$=".docx"].filelink:before,
.fa-file-word-o:before {
    content: "\f1c2";
    color: #2277bb;
}

a[href$=".xls"].filelink:before,
a[href$=".xlsx"].filelink:before,
.fa-file-excel-o:before {
    content: "\f1c3";
    color: #22bb66;
}

a[href$=".ppt"].filelink:before,
a[href$=".pptx"].filelink:before,
.fa-file-powerpoint-o:before {
    content: "\f1c4";
    color: #ff5533;
}

a[href$=".bmp"].filelink:before,
a[href$=".gif"].filelink:before,
a[href$=".jpeg"].filelink:before,
a[href$=".jpg"].filelink:before,
a[href$=".png"].filelink:before,
.fa-file-image-o:before {
    content: "\f1c5";
    color: #ffaa00;
}

a[href$=".bz2"].filelink:before,
a[href$=".dmg"].filelink:before,
a[href$=".gz"].filelink:before,
a[href$=".gzip"].filelink:before,
a[href$=".iso"].filelink:before,
a[href$=".rar"].filelink:before,
a[href$=".tar"].filelink:before,
a[href$=".tgz"].filelink:before,
a[href$=".zip"].filelink:before,
a[href$=".7z"].filelink:before,
.fa-file-archive-o:before {
    content: "\f1c6";
    color: #333355;
}

a[href$=".mp3"].filelink:before,
a[href$=".wav"].filelink:before,
a[href$=".flac"].filelink:before,
a[href$=".m4a"].filelink:before,
a[href$=".cda"].filelink:before,
a[href$=".wma"].filelink:before,
a[href$=".ogg"].filelink:before,
a[href$=".midi"].filelink:before,
.fa-file-audio-o:before {
    content: "\f1c7";
    color: #2e77cd;
}

a[href$=".mov"].filelink:before,
a[href$=".webm"].filelink:before,
a[href$=".mkv"].filelink:before,
a[href$=".flv"].filelink:before,
a[href$=".ogv"].filelink:before,
a[href$=".vob"].filelink:before,
a[href$=".avi"].filelink:before,
a[href$=".wmv"].filelink:before,
a[href$=".mp4"].filelink:before,
a[href$=".mpg"].filelink:before,
a[href$=".mpeg"].filelink:before,
a[href$=".mp2"].filelink:before,
a[href$=".mpv"].filelink:before,
a[href$=".m4v"].filelink:before,
a[href$=".3gp"].filelink:before,
a[href$=".3g2"].filelink:before,
.fa-file-video-o:before {
    content: "\f1c8";
    color: #c96c4b;
}

a[href$=".java"].filelink:before,
a[href$=".c"].filelink:before,
a[href$=".cpp"].filelink:before,
a[href$=".h"].filelink:before,
a[href$=".hpp"].filelink:before,
a[href$=".py"].filelink:before,
a[href$=".js"].filelink:before,
a[href$=".cs"].filelink:before,
a[href$=".aspx"].filelink:before,
a[href$=".php"].filelink:before,
a[href$=".html"].filelink:before,
a[href$=".xml"].filelink:before,
a[href$=".htm"].filelink:before,
a[href$=".pl"].filelink:before,
a[href$=".bas"].filelink:before,
a[href$=".sh"].filelink:before,
a[href$=".fs"].filelink:before,
a[href$=".dtd"].filelink:before,
a[href$=".xsl"].filelink:before,
a[href$=".bat"].filelink:before,
a[href$=".cgi"].filelink:before,
a[href$=".xsd"].filelink:before,
a[href$=".cshtml"].filelink:before,
a[href$=".lua"].filelink:before,
a[href$=".cmake"].filelink:before,
a[href$=".csx"].filelink:before,
a[href$=".php3"].filelink:before,
a[href$=".cc"].filelink:before,
a[href$=".csproj"].filelink:before,
a[href$=".vb"].filelink:before,
a[href$=".vbproj"].filelink:before,
a[href$=".less"].filelink:before,
a[href$=".xslt"].filelink:before,
a[href$=".xaml"].filelink:before,
a[href$=".sql"].filelink:before,
a[href$=".ps1"].filelink:before,
.fa-file-code-o:before {
    content: "\f1c9";
    color: #808080;
}

.fileIcon {
    font-size: 250%;
}

.editable-click {
    border: none !important;
    color: inherit !important;
}

.form-control-feedback.for-select {
  right: 30px !important;
}