
<div class="modal-header">
    <h4 class="modal-title"><span class="glyphicon glyphicon-plus-sign"></span> Edit Timetable</h4>
</div>

<div class="modal-body clearfix">
    {{$parent.timeTable.Type}}
    <div class="dynamicTimeChart">
        <canvas class="chart chart-bar" chart-options="options" chart-data="data" chart-labels="labels" chart-legend="false" chart-click="onClick" height="300" width="100%"></canvas>
    </div>
        <form role="form" name="typeForm" ng-submit="typeForm.$valid && $close()">
            <table class="hourSelector">
                <tr class="selectBar">
                    <td ng-class="{'work': hour >= start && hour <= end, 'peak': (hour >= peak1s && hour <= peak1e) || (hour >= peak2s && hour <= peak2e)}" ng-repeat="hour in labels"></td>
                </tr>
                <tr class="labelBar">
                    <td ng-repeat="hour in labels">{{hour}}</td>
                </tr>
            </table>
            <div class="form-group">
            </div>
            <button type="submit" class="btn btn-success pull-right"><i class="glyphicon glyphicon-plus-sign"></i> Close</button>
        </form>
    </div>
