<script type="text/ng-template" id="escapingTemplate">
    <a href tabindex="-1" ng-bind-html="match.label | escapeHTML| typeaheadHighlightSafe:query"></a>
</script>

<div class="container-fluid">
    <div class="panel" ng-class="{'panel-success': tt.Active, 'panel-default': !tt.Active}" ng-repeat="tt in timeTables">
        <div class="panel-heading">
            <h4 class="panel-title">
                <input type="checkbox" ng-model="tt.Active" ng-change="timeTableForms['form' + tt.Id].$setDirty()" />
                <a data-toggle="collapse" data-target="#collapse{{tt.Id}}" class="collapsed">
                    {{tt.Name}}&nbsp;
                    <span class="glyphicon glyphicon-exclamation-sign" ng-show="timeTableForms['form' + tt.Id].$dirty"
                          tooltip="This time table has unsaved changes" tooltip-placement="top" tooltip-append-to-body="true"></span>
                </a>
            </h4>
        </div>
        <div id="collapse{{tt.Id}}" class="panel-collapse collapse">
            <div class="panel-body">
                <form id="timeTableForm{{tt.Id}}" class="form-horizontal" name="timeTableForms.form{{tt.Id}}" ng-submit="timeTableForms['form' + tt.Id].$valid && (tt.__adding__? add(tt) : update(tt))" confirm-on-exit="There are unsaved changes in a time table, are you sure you want to leave the page?">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Name</label>
                        <div class="col-sm-8">
                            <input name="Name" type="text" class="form-control" ng-model="tt.Name" placeholder="Name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Type</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <select name="Type" class="form-control" ng-model="tt.Type" required ng-options="type.Name as type.DisplayName for type in types"></select>

                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="showSettings(tt)">
                                        <i class="glyphicon glyphicon-calendar"></i> Configure Timetable
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="col-sm-4 control-label">From</label>
                        <div class="col-sm-8">
                            <div class="row vertical-align">
                                <div class="col-sm-2">
                                    <label class="radio-inline">
                                        <input type="radio" name="senderRadio{{tt.Id}}" ng-model="tt.StaticSender" ng-value="true" /> Static
                                    </label>
                                </div>
                                <div class="col-sm-10">
                                    <input name="SenderMailbox" type="text" ng-model="tt.SenderMailbox" typeahead="user as user for user in searchLocalUsers($viewValue)" typeahead-loading="loadingLocalUsers"
                                           class="form-control" typeahead-template-url="escapingTemplate" ng-pattern="MailRegexp" ng-required="tt.StaticSender" ng-disabled="!tt.StaticSender">
                                    <i class="glyphicon form-control-feedback" ng-class="{'glyphicon-refresh': loadingLocalUsers, 'glyphicon-envelope': !loadingLocalUsers}"></i>
                                </div>
                            </div>
                            <div class="row vertical-align top5">
                                <div class="col-sm-2">
                                    <label class="radio-inline">
                                        <input type="radio" name="senderRadio{{tt.Id}}" ng-model="tt.StaticSender" ng-value="false" /> Dynamic
                                    </label>
                                </div>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon input-group-addon-select-fix">Local Email Group</span>
                                        <ui-select name="SenderGroupId" search-enabled="false" theme="bootstrap" ng-model="$parent.tt.SenderGroupId" ng-disabled="tt.StaticSender" append-to-body="true">
                                            <ui-select-match>{{$select.selected.Name}}</ui-select-match>
                                            <ui-select-choices repeat="group.Id as group in localGroups">
                                                <div><span class="badge pull-right">{{group.Count}}</span> {{group.Name}}</div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="col-sm-4 control-label">To</label>
                        <div class="col-sm-8">
                            <div class="row vertical-align">
                                <div class="col-sm-2">
                                    <label class="radio-inline">
                                        <input type="radio" name="recipientRadio{{tt.Id}}" ng-model="tt.StaticRecipient" ng-value="true" /> Static
                                    </label>
                                </div>
                                <div class="col-sm-10">
                                    <input name="RecipientMailbox" type="text" ng-model="tt.RecipientMailbox" typeahead="user as user for user in searchExternalUsers($viewValue)" typeahead-loading="loadingExternalUsers"
                                           class="form-control" typeahead-template-url="escapingTemplate" ng-pattern="MailRegexp" ng-required="tt.StaticRecipient" ng-disabled="!tt.StaticRecipient">
                                    <i class="glyphicon form-control-feedback" ng-class="{'glyphicon-refresh': loadingExternalUsers, 'glyphicon-envelope': !loadingExternalUsers}"></i>
                                </div>
                            </div>
                            <div class="row vertical-align top5">
                                <div class="col-sm-2">
                                    <label class="radio-inline">
                                        <input type="radio" name="recipientRadio{{tt.Id}}" ng-model="tt.StaticRecipient" ng-value="false" /> Dynamic
                                    </label>
                                </div>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon input-group-addon-select-fix">External Email Group</span>
                                        <ui-select name="RecipientGroupId" search-enabled="false" theme="bootstrap" ng-model="tt.RecipientGroupId" ng-disabled="tt.StaticRecipient" append-to-body="true">
                                            <ui-select-match>{{$select.selected.Name}}</ui-select-match>
                                            <ui-select-choices repeat="group.Id as group in externalGroups">
                                                <div>
                                                    <span class="badge pull-right">{{group.Count}}</span> {{group.Name}}
                                                </div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="row vertical-align top5">
                                <div class="col-sm-offset-2 col-sm-4">
                                    Number of Recipients <!-- TODO -->
                                </div>
                                <div class="col-sm-6">
                                    <div range-slider min="1" max="4" model-min="tt.MinRecipients" model-max="tt.MaxRecipients" disabled="tt.StaticRecipient" attach-handle-values="true" show-values="true"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Mail Type</label>
                        <div class="col-sm-8">
                            <select name="MailType" class="form-control" ng-model="tt.MailType" required>
                                <option>TODO</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Attachment</label>
                        <div class="col-sm-8">
                            <div class="row vertical-align">
                                <div class="col-sm-12">
                                    <label class="radio-inline">
                                        <input type="radio" name="attachmentRadio{{tt.Id}}" ng-model="tt.AttachmentType" ng-value="0" /> None
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="attachmentRadio{{tt.Id}}" ng-model="tt.AttachmentType" ng-value="1" /> Random
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="attachmentRadio{{tt.Id}}" ng-model="tt.AttachmentType" ng-value="2" /> Fixed
                                    </label>
                                </div>
                            </div>
                            <div class="row vertical-align top5">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">Attachment File</span>
                                        <select name="Attachment" class="form-control" ng-model="tt.Attachment" ng-required="tt.AttachmentType === 2" ng-disabled="tt.AttachmentType !== 2"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row vertical-align top5">
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="tt.SendEicarFile" />
                                            Send EICAR File
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="col-sm-4 control-label">Report</label>
                        <div class="col-sm-8">
                            <div class="row vertical-align">
                                <div class="col-sm-12">
                                    <label class="radio-inline">
                                        <input type="radio" name="reportRadio{{tt.Id}}" ng-model="tt.ReportType" ng-value="0" /> Off
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="reportRadio{{tt.Id}}" ng-model="tt.ReportType" ng-value="1" /> Daily
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="reportRadio{{tt.Id}}" ng-model="tt.ReportType" ng-value="2" /> Weekly
                                    </label>
                                </div>
                            </div>
                            <div class="row vertical-align top5">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">Report Recipient</span>
                                        <input name="ReportMailAddress" type="text" ng-model="tt.ReportMailAddress" class="form-control" ng-pattern="MailRegexp" ng-required="tt.ReportType !== 0" ng-disabled="tt.ReportType === 0">
                                    </div>
                                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="col-sm-4 control-label">Protocol Level</label>
                        <div class="col-sm-8">
                            <label class="radio-inline">
                                <input type="radio" name="protocolRadio{{tt.Id}}" ng-model="tt.ProtocolLevel" ng-value="0" /> Off
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="protocolRadio{{tt.Id}}" ng-model="tt.ProtocolLevel" ng-value="1" /> On
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="protocolRadio{{tt.Id}}" ng-model="tt.ProtocolLevel" ng-value="2" /> Verbose
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="btn-group pull-right">
                                <button type="submit" class="btn btn-success" ng-hide="tt.__adding__">
                                    <i class="glyphicon glyphicon-floppy-disk"></i> Update
                                </button>
                                <button type="button" class="btn btn-danger" ng-click="delete(tt)" ng-hide="tt.__adding__">
                                    <i class="glyphicon glyphicon-remove-sign"></i> Remove
                                </button>
                                <button type="submit" class="btn btn-success" ng-show="tt.__adding__">
                                    <i class="glyphicon glyphicon-floppy-disk"></i> Add
                                </button>
                                <button type="button" class="btn btn-danger" ng-click="cancelAdd(tt)" ng-show="tt.__adding__">
                                    <i class="glyphicon glyphicon-remove-sign"></i> Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="btn-group pull-right" style="margin-top: 10px;">
            <button type="button" class="btn btn-success" ng-click="startAdd()" ng-disabled="adding">
                <i class="glyphicon glyphicon-plus-sign"></i> Add
            </button>
        </div>
    </div>
</div>