
<div class="modal-header">
    <h4 class="modal-title"><span class="glyphicon glyphicon-calendar"></span> Edit Timetable</h4>
</div>

<div class="modal-body clearfix">
    <form role="form" name="typeForm" ng-submit="typeForm.$valid && save()">
        <div class="form-group">
            <label>Interval Type</label>
            <label class="radio-inline">
                <input type="radio" value="1h" name="IntervalType" ng-model="tt.Parameters.staticType" ng-change="refreshIntervals()" /> 1 hour
            </label>
            <label class="radio-inline">
                <input type="radio" value="15min" name="IntervalType" ng-model="tt.Parameters.staticType" ng-change="refreshIntervals()" /> 15 min
            </label>
        </div>
        <table class="timeSelector" static-timetable-editor>
            <colgroup>
                <col style="width: 7em;"/>
                <col ng-repeat="interval in intervals track by $index"/>
            </colgroup>
            <tr style="font-weight: bold;">
                <th></th>
                <th colspan="{{2 * factor}}" class="morning"></th>
                <th colspan="{{8 * factor}}" style="text-align: center;">6 AM</th>
                <th colspan="{{4 * factor}}" class="noon">☀</th>
                <th colspan="{{8 * factor}}" style="text-align: center;">6 PM</th>
                <th colspan="{{2 * factor}}" class="evening"></th>
            </tr>
            <tr class="biginterval">
                <th></th>
                <td colspan="{{6 * factor}}"></td>
                <td colspan="{{6 * factor}}"></td>
                <td colspan="{{6 * factor}}"></td>
                <td colspan="{{6 * factor}}"></td>
            </tr>
            <tr class="smallinterval">
                <th></th>
                <td ng-repeat="interval in intervals track by $index"></td>
            </tr>
            <tr class="dataRow" ng-repeat="day in days" ng-init="dayIndex = $index">
                <th>{{day}}</th>
                <td ng-repeat="interval in intervals track by $index"
                    ng-class="{'selected': data[offset(dayIndex, $index)] === '1'}"
                    day="{{dayIndex}}" interval="{{$index}}"></td>
            </tr>
        </table>
        <div class="btn-group pull-right top10">
            <button type="button" class="btn btn-default" ng-click="reset()">
                <i class="glyphicon glyphicon-asterisk"></i> Reset Timetable
            </button>
            <button type="submit" class="btn btn-success">
                <i class="glyphicon glyphicon-plus-sign"></i> Close
            </button>
        </div>
    </form>
</div>