<div class="container-fluid">
    <pre>{{groups || json}}</pre>

    <div ui-grid="gridOptions" ui-grid-edit ui-grid-row-edit ui-grid-selection ui-grid-auto-resize ui-grid-pagination>

    </div>
    <div class="btn-group pull-right" style="margin-top: 10px;">
        <a class="btn btn-default" target="_self" href="/api/ExternalUsers/Export">
            <i class="glyphicon glyphicon-download"></i> Export
        </a>
        <label class="btn btn-default" for="importfile">
            <i class="glyphicon glyphicon-upload"></i> Import
        </label>
        <input id="importfile" type="file" ngf-select="import($files)" ngf-accept="'text/csv'" style="position: absolute; clip: rect(0px 0px 0px 0px)" />
        <button class="btn btn-danger" ng-click="deleteSelected()">
            <i class="glyphicon glyphicon-remove-sign"></i> Remove
        </button>
    </div>
</div>