<div class="container-fluid">
    <form role="form" class="form-horizontal clearfix" name="serverConfigForm" ng-submit="serverConfigForm.$valid && submit()">
        <div class="form-group">
            <label class="control-label col-sm-3">SMTP Server Status</label>
            <div class="col-sm-2">
                <p class="form-control-static">{{status}}</p>
            </div>
            <div class="col-sm-5">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-success" ng-click="start()" ng-disabled="running">
                        <i class="glyphicon glyphicon-play"></i> Start
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="stop()" ng-disabled="!running">
                        <i class="glyphicon glyphicon-stop"></i> Stop
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Service Version</label>
            <div class="col-sm-7">
                <p class="form-control-static">{{version}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Service Build Date</label>
            <div class="col-sm-7">
                <p class="form-control-static">{{buildDate | date : 'medium' }}</p>
            </div>
        </div>
    </form>
</div>