input.ng-invalid.ng-dirty {
    border: 1px solid red;
}

input.ng-valid.ng-dirty {
    border: 1px solid green;
}

.ui-grid-render-container-body {
    float: none !important;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

.panel-heading a {
    text-decoration: none;
    cursor: pointer;
}

    .panel-heading a:after {
        font-family: 'Glyphicons Halflings';
        content: "\e114";
        float: right;
        color: grey;
    }

    .panel-heading a.collapsed:after {
        content: "\e080";
    }

/* adapted from http://maxwells.github.io/bootstrap-tags.html */
.tag {
    display: inline-block;
    font-size: 14px;
    padding: .3em .4em .4em;
    margin: 0.1em;
}

    .tag a {
        color: #bbb;
        cursor: pointer;
        opacity: 0.6;
    }

        .tag a:hover {
            opacity: 1.0;
        }

    .tag .remove {
        vertical-align: bottom;
        top: 0;
    }

    .tag a {
        margin: 0 0 0 .3em;
    }

        .tag a .glyphicon-white {
            color: #fff;
            margin-bottom: 2px;
        }

.domain-list .list-group-item {
    padding: 5px 8px;
}

.domain-list input[type=checkbox] {
    margin-right: 5px;
}

.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.badge-success {
    background-color: #5cb85c;
}

.badge-danger {
    background-color: #d9534f;
}

.list-group-item > .badge ~ .badge {
    margin-right: 5px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.top5 {
    margin-top: 5px;
}

.top7 {
    margin-top: 7px;
}

.top10 {
    margin-top: 10px;
}

.top15 {
    margin-top: 15px;
}

.top17 {
    margin-top: 17px;
}

.top30 {
    margin-top: 30px;
}

#usersGrid .ui-grid-column-menu-button-last-col {
    margin-right: 0px;
}

[role=columnheader].dirty {
    background: #333;
}

    [role=columnheader].dirty .ui-grid-header-cell-label {
        color: #FFF;
    }

.input-group .form-control.ui-select-toggle {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.input-group-addon-select-fix {
    line-height: 20px;
}

.timeSelector {
    width: 100%;
    table-layout: fixed;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.timeSelector .morning:before, .timeSelector .evening:before {
    content: '☾';
    display: block; 
    text-align: center;
    width: 1.5em;
    color: darkblue;
}

.timeSelector .morning:before {
    margin-left: -0.75em;   
}

.timeSelector .evening:before {
    margin-right: -0.75em;   
    float: right;
}

.timeSelector .noon {
    color: orange;
    text-align: center;
}

.timeSelector .biginterval td {
    border: 1px solid black;
    border-top: 0;
    line-height: 5px;
    height: 8px;
}

.timeSelector .smallinterval td {
    border: 1px solid black;
    border-bottom: 0;
    line-height: 5px;
    height: 5px;
}

.timeSelector .dataRow th {
    border: 1px solid black;
    text-align: right;
    padding: 2px;
}

.timeSelector .dataRow td {
    border: 1px solid darkgray;
}

.timeSelector .selected {
    background-color: lightblue;
}

.timeSelector .toggeling {
    background-color: lightcoral;
}

.timeSelector .toggeling.selected {
    background-color: coral;
}
