input.ng-invalid.ng-dirty {
    border: 1px solid red;
}

input.ng-valid.ng-dirty {
    border: 1px solid green;
}

.ui-grid-render-container-body {
    float: none !important;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

 .panel-heading a {
     text-decoration: none;
     cursor: pointer;
}

 .panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}

/* adapted from http://maxwells.github.io/bootstrap-tags.html */
.tag {
    display: inline-block;
  font-size: 14px;
  padding: .3em .4em .4em;
  margin: 0.1em;
}
.tag a {
  color: #bbb;
  cursor: pointer;
  opacity: 0.6;
}
.tag a:hover {
  opacity: 1.0
}
.tag .remove {
  vertical-align: bottom;
  top: 0;
}
.tag a {
  margin: 0 0 0 .3em;
}
.tag a .glyphicon-white {
  color: #fff;
  margin-bottom: 2px;
}

.domain-list .list-group-item {
    padding: 5px 8px;
}

.domain-list input[type=checkbox] {
    margin-right: 5px;
}